Packages/nuget-packages/InstalledPackages
Packages/nuget-packages/InstalledPackages.meta

Assets/AddressableAssetsData/Windows/

/.idea/
/Library/
/UserSettings/
/Temp/
/obj/
/Logs/
/Builds/

Assets/External/Plugins/Sirenix/**
!Assets/External/Plugins/Sirenix/plugin-url.txt
!Assets/External/Plugins/Sirenix/plugin-url.txt.meta

Assets/External/Plugins/ConsolePro/**
!Assets/External/Plugins/ConsolePro/plugin-url.txt
!Assets/External/Plugins/ConsolePro/plugin-url.txt.meta

Packages/vhierarchy/**
!Packages/vhierarchy/plugin-url.txt
!Packages/vhierarchy/plugin-url.txt.meta

*.pdb
*.pdb.meta
*.unitypackage
*.unitypackage.meta

/*.csproj
/*.sln
