Packages/nuget-packages/InstalledPackages
Packages/nuget-packages/InstalledPackages.meta

Assets/AddressableAssetsData/Windows/

/.idea/
/Library/
/UserSettings/
/Temp/
/obj/
/Logs/
/Builds/

*.pdb
*.pdb.meta
*.unitypackage
*.unitypackage.meta

/*.csproj
/*.sln
